@font-face {
  font-family: 'gothampro';
  font-display: swap;
  src: url('../fonts/gothampro.woff2') format('woff2'),
    url('../fonts/gothampro.woff') format('woff');
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: 'gothampro';
  font-display: swap;
  src: url('../fonts/gothampro_medium.woff2') format('woff2'),
    url('../fonts/gothampro_medium.woff') format('woff');
  font-style: normal;
  font-weight: 500;
}
@font-face {
  font-family: 'gothampro';
  font-display: swap;
  src: url('../fonts/gothampro_bold.woff2') format('woff2'),
    url('../fonts/gothampro_bold.woff') format('woff');
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: 'gothampro';
  font-display: swap;
  src: url('../fonts/gothampro_black.woff2') format('woff2'),
    url('../fonts/gothampro_black.woff') format('woff');
  font-style: normal;
  font-weight: 900;
}
